/dataset/frames/*.JPG
/dataset/frames/*.jpeg
/dataset/frames_with_whole_annotations/*.JPG
/dataset/frames_with_whole_annotations/*.jpeg
/dataset/patches/*
/saved_models/*
/dataset/grouped_frames_with_whole_annotations/*
/Untitled-1.ipynb
/Untitled-2.ipynb
/yolov5/*
Urchin-Detector
backup
dataset
trained_classifiers
predictions-final-dataset
.gitignore
backbone_selection_results_frame
backbone_selection_results_patch
trained_classifiers_
data.json
